* {
  box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 590px;
  }

  .container {
    display: flex;
    margin: 20px 0;
    width: 70%;
    height: 90%;
    box-sizing: content-box;
    flex-direction: column;
  } 
  #message-container {
    overflow-y:auto;
    overflow-wrap: break-word;
    height: 85%;
    width: 100%;
    margin-top: 2px;
    border: #CCC 1px solid;
  }

  #message-container div {
    margin: 2px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    display: flex;
    justify-content: center;
    height: 15%;
    background-color: white;
    width: 100%;
    border: #CCC 1px solid;
  }

  #message-input {
    width: 80%;
    min-width: 10%;
    height: 100%;
    border: #CCC 1px solid;
    word-wrap: break-word;
  }

  #send-button {
    font-size: medium;
    width: 20%;
    min-width: 1%;
    height: 100%;
    background-color: rgb(205, 193, 193);
    border: #FFF;
  }

  #send-button:hover {
    font-weight: bold;
    background-color: blue;
    color: white;
  }